[submodule "sivan-payment"]
	path = sivan-payment
	url = https://github.com/Sivan-Technologies/sivan-payment.git
	branch = multichain
[submodule "sivan-ai-agent"]
	path = sivan-ai-agent
	url = https://github.com/Sivan-Technologies/sivan-ai-agent.git
	branch = multichain
[submodule "sivan-minipay-app"]
	path = sivan-minipay-app
	url = https://github.com/Sivan-Technologies/sivan-minipay-app.git
	branch = main
[submodule "sivan-contracts"]
	path = sivan-contracts
	url = https://github.com/Sivan-Technologies/sivan-contracts.git
	branch = main
